.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.card-header {
    background-color: rgb(224, 211, 211);
    border: 4px double black;
}

.card-body {
    background-color: rgb(248, 246, 246);
    border: 4px double black;
}

.card-footer {
    background-color: rgb(224, 211, 211);
    border: 4px double black;
}

.btn {
    border: 2px solid black; 
    margin: 5px;
}
